*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 95%;
    display: flex;
}

#left{
    width: 40%;
    height: 100%;
    background-color: aliceblue;
    position: relative;
}

#nav{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
}

.icon{
    padding-right: 90px;
    font-size: 20px;
}

#nav a{
    text-decoration: none;
    color: rgb(50, 49, 49);
    text-transform: capitalize;
    

}

#nav .about{
    color: black;
    font-weight: 700;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

#nav .tw{
    color: blue;
}

#text{
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#text a{
    text-decoration: none;
    color: black;
}




#text h1{
    font-size: 10vw;
}

#text p{
    line-height: 20px;
    padding: 20px 0;
}

#text button{
    border: none;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid rgb(77, 76, 76);
}
#right{
    width: 60%;
    height: 100%;
}

#top{
    width: 100%;
    height: 50%;
    display: flex;

}

#box1{
    width: 60%;
    height: 100%;
    background-image: url(https://i.pinimg.com/564x/fe/45/2c/fe452cfb4421fdcc45151bdc7dc811c2.jpg);
    background-position: center;
    background-size: cover;
}
#box2{
    width: 40%;
    height: 100%;
    background-image: url(https://i.pinimg.com/564x/18/26/9e/18269e756b96bd045cd2f6b91006a5c0.jpg);
     background-position: top;
    background-size: cover;
}

#bottom{
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1602941800793-78c44baca4d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#footer{
    width: 100%;
    height: 5%;
    background-color: aqua;
     display: flex;
    justify-content: center;
    align-items: center;
}

#foot{
    width: 50%;
    height: 100%;
   
}

#footer p{
    font-size:2vw;
    padding: 0 20px;
}
#footer i{
    padding: 0 10px;
}



@media(max-width:500px){
    #main{
        flex-direction: column;
    }
    #left{  
        width: 100%;
    }
    #right{
        width: 100%;
    }
    
}

